.root {
    -fx-base: grey;
    -fx-background: lightgrey;
    -fx-control-inner-background: #e4e1e1;
}

.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: white;
}

.button {
    -fx-background-color: #e4e1e1;
    -fx-text-fill: black;
    -fx-border-color: #4b6eaf;
    -fx-border-width: 2;
}

.button:hover {
    -fx-background-color: #4b6eaf;
    -fx-border-color: black;
}

.button:pressed {
    -fx-background-color: #4b6eaf;
    -fx-translate-y: 1px;
}

.label {
    -fx-text-fill: black;
    -fx-background-color: lightgrey;
    -fx-border-color: lightgrey;
}

.text-area {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #4b6eaf;
}

.text-area:focused {
    -fx-background-color: lightgrey;
    -fx-border-color: #4b6eaf;
    -fx-border-width: 2px;
}

.combo-box {
    -fx-background-color: grey;
    -fx-text-fill: black;
    -fx-border-color: #4b6eaf;
}

.combo-box .arrow-button {
    -fx-background-color: lightgrey;
}

.combo-box .list-cell:hover {
    -fx-background-color: #4b6eaf;
}

.split-pane {
    -fx-background-color: white;
}

.menu-bar:pressed {
    -fx-background-color: #6d469d;
}